* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  background-color: #f3f3f3;
}
.rightSide {
  padding: 5px;
    display: flex;
    flex-direction: column;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    position: absolute;
    left: 25%;
    margin-left: 5px;
    background-image: url(../public/images/news-background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.divHeading {
  position: absolute;
  left: 48%;
  top: 19%;
  text-align: center;
  color: #e1e1e1;
  transform: translate(-50%, -50%);
  font-size: 46px;
  text-shadow: 3px 3px 0px #000000bf;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  font-family: fantasy;
  width: 0;
}
.main{
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 75%;
  position: absolute;
  left: 25%;
  background-color: #ebebeb;

}
.cards {
  display: flex;
  flex-direction: column;
  padding: 10px;
  box-shadow: 0px 10px 6px 4px #00000045;
  margin: 20px 0;
}
.heading {
  font-size: 45px;
  font-weight: 600;
  font-variant: petite-caps;
  text-shadow: 3px 3px 3px #80808070;
}
.middleInfo {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.descriptionText {
  width: 65%;
  font-size: 22px;
}

.headingImg {
  width:35%;
  margin: 15px 0px;
  box-shadow: 4px 7px 6px 0px #7c7979;
  border-radius: 3px;
}
.sourceName {
  font-size: 10px;
  font-style: italic;
  text-decoration: underline;
  width: 65%;
}
.readMoreBtn {
  border: none;
  background: none;
  border-bottom: 2px solid #E91E63;
  max-width: fit-content;
  font-size: 10px;
  margin: 5px 0px;
  width: fit-content;
}

.publishedAt {
  font-size: 10px;
  font-weight: bold;
  width: 35%;
  text-align: right;
}
.LoaderContainer {
  position: absolute;
    left: 25%;
    background: #ffffff33;
    height: 100vh;
    width: 75%;
    z-index: 99;
}
.countShow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  color: #3498dbb5;
}
.circle-loader {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 100%;
  height: 100%;
  border: 10px solid #e0e0e0;
  border-top-color: #00000091;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 2s linear infinite;
  clip: rect(0, 50px, 100px, 0);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navBar {
  position: fixed;
  width: 25%;
  height: 100vh;
  padding: 10px;
  background-image: url(../public/images/news-background.jpg);
  background-size: cover;
  background-attachment: fixed;
}
.headNav {
  display: flex;
  justify-content: space-evenly;
}
.nameInputBox {
  width: 60%;
  border: none;
  border-bottom: 2px solid black;
  text-align: center;
  font-size: 17px;
  padding: 5px;
  background-color: #ececec;
  /* cursor: pointer; */
  background-image: url('../public//images/searchIcon.svg'); /* Add your image path here */
  background-size: 20px 20px; /* Adjust background size to match image dimensions */
  background-position: 10px center; /* Adjust background position to align the icon */
  background-repeat: no-repeat;
  transition: 0.9s ease-in-out background-position;
}
.nameInputBox:focus-visible {
  outline: none;
  background-position: right;
}
.EnterBtn {
  padding: 5px 10px;
  border-radius: 5px;
  border: none;
  background: #dedcdd;
  cursor: pointer;
}
.EnterBtn img {
  width: 20px;
}


@keyframes typing {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

.divHeading {
  animation: typing 6s steps(80, end) 1 forwards;
}

@media screen and (max-width: 600px) and (max-height: 800px) and (orientation: portrait) {

  .divHeading {
  left: 50%;
  top: 12%;
  font-size: 18px;
  position: fixed;
  }
  .navBar {
  width: -webkit-fill-available;
  }
  .rightSide, .main, .LoaderContainer{
  width: 100%;
  left: 0px;
  top: 60px;
  }
  .nameInputBox, .EnterBtn {
    background-color: transparent;
  }
  .middleInfo {
  display: flex;
  align-items: center;
  flex-direction: column;
  }
  .descriptionText, .headingImg {
  width: 80%;
  }
  .heading {
    text-align: center;
    font-size: 25px;
  }
  .descriptionText{
    font-size: 15px;
  }
  .sourceName{
    position: relative;
    text-align: left;
    width: -webkit-fill-available;
  }
  .publishedAt {
    position: relative;
    text-align: right;
    top: 10px;
    width: -webkit-fill-available;
  }
  .outOfMain {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 55px;
    overflow: auto;
  }
}