* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.Main{
  padding: 5px;
  display: flex;
  flex-direction: column;
  width: 75%;
  position: absolute;
  left: 25%;

}
.cards {
  display: flex;
  flex-direction: column;
  /* width: 25%; */
  border: 1px solid black;
  padding: 10px;
  box-shadow: 0px 4px 8px 0px #00000030;
}
.heading {
  font-size: 25px;
  font-weight: 600;
}
.headingImg {
  width: 100%;
  margin: 15px 0px;
  box-shadow: 4px 7px 6px 0px #7c7979;
}
.sourceName {
  font-size: 10px;
  font-style: italic;
  text-decoration: underline;
}
.readMoreBtn {
  border: none;
  background: none;
  border-bottom: 2px solid #E91E63;
  max-width: fit-content;
  font-size: 10px;
  margin: 5px 0px;
  width: fit-content;
}
.details {
  display: flex;
  flex-direction: column;
}
.publishedAt {
  font-size: 10px;
  font-weight: bold;
}
.LoaderContainer {
  position: absolute;
    left: 25%;
    background: #fff;
    height: 100vh;
    width: 75%;
}
.countShow {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: xxx-large;
  color: #3498dbb5;
}
.circle-loader {
  width: 100px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.circle {
  width: 100%;
  height: 100%;
  border: 10px solid #e0e0e0;
  border-top-color: #3498db;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  animation: spin 2s linear infinite;
  clip: rect(0, 50px, 100px, 0);
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.navBar {
  position: fixed;
  width: 25%;
  height: 100vh;
  border: 1px solid black;
}